@{
    ViewBag.Title="Asd";
}
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-12">
            <!-- Recent Order Table -->
                <div class="card card-table-border-none" id="recent-orders">
                    <div class="card-header justify-content-between">
                        <h2>Khách hàng</h2>
                        <p class="ml-auto">Tổng KH: 50</p>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th class="d-none d-lg-table-cell">Họ Tên</th>
                                    <th class="d-none d-lg-table-cell">Phone</th>
                                    <th >Địa Chỉ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td >24541</td>
                                    <td class="d-none d-lg-table-cell">
                                        <a class="text-dark" href=""> Hat Black Suits</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                </tr>    
                                 <tr>
                                    <td >24541</td>
                                    <td class="d-none d-lg-table-cell">
                                        <a class="text-dark" href=""> Hat Black Suits</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">1 Unit</td>
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>