
@{
    ViewData["Title"] = "Index";
}
@section Css{ 
<link href="~/css/product.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
}

<div class="container-fluid vt-container">
    <div></div>
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="vt-product">
                <a href="#">
                    <div class="vt-product-img">
                        <img src="~/product//product.jpg" alt="Card image cap">
                        <img class="" src="~/images/sale.png" />
                    </div>
                </a>
                <div class="vt-product-content">
                    <h5 class="vt-product-name">Daniel Wellington DW00100164 – Nữ</h5>
                    <div class="vt-price">
                        <p>4.000.000</p>
                        <del class="">5.000.000</del>
                    </div>
                    <a href="#" class="btn btn-primary mb-2">Add cart</a>
                    <a href="#" class="btn btn-danger mb-2">Buy now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="vt-product">
                <div class="vt-product-img">
                    <img src="~/product//product.jpg" alt="Card image cap">
                    <img class="" src="~/images/sale.png" />
                </div>
                <div class="vt-product-content">
                    <h5 class="vt-product-name">Daniel Wellington DW00100164 – Nữ</h5>
                    <div class="vt-price">
                        <p>4.000.000</p>
                        <del class="">5.000.000</del>
                    </div>
                    <a href="#" class="btn btn-primary mb-2">Add cart</a>
                    <a href="#" class="btn btn-danger mb-2">Buy now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="vt-product">
                <div class="vt-product-img">
                    <img src="~/product//product.jpg" alt="Card image cap">
                    <img class="" src="~/images/sale.png" />
                </div>
                <div class="vt-product-content">
                    <h5 class="vt-product-name">Daniel Wellington DW00100164 – Nữ</h5>
                    <div class="vt-price">
                        <p>4.000.000</p>
                        <del class="">5.000.000</del>
                    </div>
                    <a href="#" class="btn btn-primary mb-2">Add cart</a>
                    <a href="#" class="btn btn-danger mb-2">Buy now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="vt-product">
                <div class="vt-product-img">
                    <img src="~/product//product.jpg" alt="Card image cap">
                    <img class="" src="~/images/sale.png" />
                </div>
                <div class="vt-product-content">
                    <h5 class="vt-product-name">Daniel Wellington DW00100164 – Nữ</h5>
                    <div class="vt-price">
                        <p>4.000.000</p>
                        <del class="">5.000.000</del>
                    </div>
                    <a href="#" class="btn btn-primary mb-2">Add cart</a>
                    <a href="#" class="btn btn-danger mb-2">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</div>



