@{
    ViewBag.Title="Khuyễn mãi";
    ViewBag.IndexSideNav=4;
}
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-12">
            <!-- Product Table -->
                <div class="card card-table-border-none" id="recent-orders">
                    <div class="card-header justify-content-between">
                        <h2>Khuyến mãi</h2>
                        <div class="ml-auto d-flex ">
                            <a href="#" class="btn btn-danger py-3 text-uppercase">Add</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên SP</th>
                                <th>Từ</th>
                                <th>Đến</th>
                                <th>Trạng thái</th>
                                <th>Mức giảm</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td >24541</td>
                                <td >
                                    <a class="text-dark" href=""> Hat Black Suits</a>
                                </td>
                                <td class="d-none d-lg-table-cell">Nov 18, 2018</td>
                                <td class="d-none d-lg-table-cell">Nov 18, 2018</td>
                                <td class="d-none d-lg-table-cell">ĐÁ</td>
                                <td>25</td>
                                <td class="d-none d-lg-table-cell">
                                    <label class="switch switch-icon switch-primary switch-pill form-control-label">
                                        <input type="checkbox" class="switch-input form-check-input" value="on" checked>
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>   
                            </tr>    
                              <tr>
                                <td >24541</td>
                                <td >
                                    <a class="text-dark" href=""> Hat Black Suits</a>
                                </td>
                                <td class="d-none d-lg-table-cell">Nov 18, 2018</td>
                                <td class="d-none d-lg-table-cell">Nov 18, 2018</td>
                                <td class="d-none d-lg-table-cell">ĐÁ</td>
                                <td>25</td>
                                <td class="d-none d-lg-table-cell">
                                    <label class="switch switch-icon switch-primary switch-pill form-control-label">
                                        <input type="checkbox" class="switch-input form-check-input" value="on" checked>
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>   
                            </tr>     
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer bg-white py-3 text-center">
                        <a href="#" class="btn-link py-3 text-uppercase">More</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>